document{
  background-color: orange;
}

body {
  background-color: #fcaf16;
  border: 3px solid white;
  border-radius: 25px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  width: 700px;
}

div {
  text-align: left;
  width: 600px;
  padding:10px;
  border: 1px solid white;
  border-radius: 25px;
  color: black;
  margin: auto;	
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #f7d694;
}

p {
  font-size: 200%;
  font-style: bold;	
}

button{
  color: black;
  width: 200px;
  height: 50px;
  background-color: #f4ce42;
  
}